/* ---------- COLOR SCHEME -----------
primary
secondary
*/

/* ----------- Site Wide -----------*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* ------------ Header -------------*/
header{
    display: grid;
    grid-template-columns: 50px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: aquamarine;
}


/* ------------ Hamburger --------------*/
.hamburger {
    background: none;
    border: none;
    color: aquamarine;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7"
}


/* ------------ Navigation --------------*/
.navigation {
    display: none;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin:  0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: aquamarine;
    text-decoration: none;
    border-bottom: solid 1px aquamarine;
}
.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: aqua;
}


h1 {
    margin-left: 10px;
    color: aqua;
}



/* ------------ Footer --------------*/

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    column-gap:  8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: #ddd;
}


/* ------------ Course --------------*/
.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.filters button {
    padding: .75rem 1.5rem;
    cursor: pointer;
}

#credit-total {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

#course-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.course-card {
    background: #e5e5e5;
    border: 1px solid #999;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border-radius: .5rem;
}

.completed {
    background: aqua;
    color: white;
}